  .container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
    background-image: url('../assets/flower-computer.jpg');
    background-size: cover;
  }

  h1 {
    position: absolute;
    top: 45%;
    left: 37%;
  }
  
  .typewriter h1 {
    color: black;
    font-family: monospace;
    font-size: 21px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 400px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    18% { border-color: orange }
  }

  @media screen and (max-width: 1400px) {
    .typewriter h1 {
      position: absolute;
      top: 35%;
      left: 35%;
    }
  }

  @media screen and (max-width: 1200px) {
    .typewriter h1 {
      position: absolute;
      top: 35%;
      left: 36%;
    }
  }

  @media screen and (max-width: 1100px) {
    .typewriter h1 {
      position: absolute;
      top: 35%;
      left: 39%;
    }
  }

  @media screen and (max-width: 1000px) {
    .typewriter h1 {
      position: absolute;
      top: 35%;
      left: 32%;
      font-size: 18px;
    }

    .container {
      background-size: 100% 100%;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 350px }
    }
  }

  @media screen and (max-width: 900px) {
    .typewriter h1 {
      position: absolute;
      top: 35%;
      left: 30%;
      font-size: 17px;
    }
  }

  @media screen and (max-width: 800px) {
    .typewriter h1 {
      position: absolute;
      left: 22%;
      top: 13%;
      font-size: 21px;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 400px }
    }
  }

  @media screen and (max-width: 700px) {
    .typewriter h1 {
      position: absolute;
      left: 20%;
      top: 13%;
      font-size: 21px;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 400px }
    }
  }

  @media screen and (max-width: 530px) {
    .typewriter h1 {
      position: absolute;
      left: 14%;
      top: 13%;
      font-size: 18px;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 350px }
    }
  }

  @media screen and (max-width: 375px) {
    .typewriter h1 {
      position: absolute;
      left: 12%;
      top: 13%;
      font-size: 15px;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 300px }
    }
  }

  @media screen and (max-width: 320px) {
    .typewriter h1 {
      position: absolute;
      left: 14px;
      top: 13%;
      font-size: 15px;
    }
  }