.contact-info-container {
  font-size: 20px;
  color: #0e2e51;
  padding-top: 25px;
  height: 7vh;
  line-height: 35px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;

  .contact-info-section {
    padding-right: 20px;
  }

  a:active, a:hover, a, a:visited {
    font-size: 20px;
    color: #0e2e51;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-info-container {
    padding-top: 15px;
  }

  .naver {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .naver {
    display: none;
  }
}