.contact-container {
  font-size: 20px;
  background-color: #d1c0c7; 
  height: 15vh;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 80px;
}

.contact-info-container {
  line-height: 35px;
  text-align: left;
}

.fas, .fab {
  margin-right: 10px;
}

.link, link:visited {
  font-size: 20px;
  color: black;
}

.link:hover {
  color: #7e556a;
  text-decoration: underline;
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .contact-container {
    height: 20vh;
    padding-left: 30px;
  }
}
