.reservations-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  background-color: #f9f6f0;

  .image-container {
    display: flex;
    justify-content: center;

    img {
      width: 50vw;
    }
  }

  .reservation-form {
    margin: 5%;
    width: 60vw;

    .form-item {
      border: 1px solid black;
    }

    h3 {
      font-size: 23px;
      text-align: left;
      color: #0e2e51;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .reservations-container {
    flex-direction: column;

    .image-container {
      img {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .reservations-container {
    grid-template-columns: repeat(1, 1fr);
  }
}