.about-container {
    background-color: #d1c0c7; 
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.portrait-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 30px;
}

.about-text {
    text-align: left;
    line-height: 28px;
    font-size: 21px;
}

.profile-container {
    display: flex;
    align-items: center;
    width: 67vw;
}