body {
    padding: 0;
    margin: 0;
    background-color: #2a0074;
  }
  
  .container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 70px;
    letter-spacing: 1.5px;
    // position: absolute;
    // margin: auto;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0
  }
  
  .cloud {
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    position: absolute;
    opacity: 0.1
  }
  
  .cloud:before{
    position: absolute;
    content: "";
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    bottom: 25px;
    left: 80px;
  }
  
  .cloud:after{
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    bottom: 25px;
    left: 25px;
}

.cloud:nth-child(1) {
    top: 130px;
    left: 10px;
}

.cloud:nth-child(2) {
    top: 365px;
    left: 155px;
    transform: scale(0.6)
}

.balloon {
    height: 160px;
    width: 160px;
    background-color: #009688;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 60px;
    animation: float 4.5s infinite;
}

@keyframes float {
    50% {
        transform: translateY(50px);
    }
}

.balloon:before {
    position: absolute;
    content: "";
    height: 160px;
    width: 112px;
    background-color: #fb84a0;
    border-radius: 50%;
    left: 25px;
}

.balloon:after {
    position: absolute;
    content: "";
    height: 160px;
    width: 64px;
    background-color: #f7174c;
    border-radius: 50%;
    left: 49px;
    top: 0
}

.bottom {
    background-color: #f7174c;
    height: 16px;
    width: 72px;
    position: relative;
    top: 152px;
    left: 45px;
    z-index: 10;
    border-radius: 1px;
}

.basket {
    height: 40px;
    width: 56px;
    background-color: #795548;
    position: relative;
    top: 193px;
    left: 53.5px;
    border-radius: 0 0 10px 10px;
  }
  
  .basket:before {
    position: absolute;
    content: "";
    background-color: #503f39;
    height: 5.6px;
    width: 64px;
    border-radius: 7px;
    left: -5px
  }
  
  .rope {
    background-color: #503f39;
    height: 44px;
    width: 2.4px;
    position: relative;
    top: 110px;
    left: 79px;
  }
  
  .rope:before {
    position: absolute;
    content: "";
    background-color: #503f39;
    height: 44px;
    width: 2.4px;
    top: 20;
    left: -30px;
    transform: rotate(-8deg);
  }
  
  .rope:after{
    position: absolute;
    content: "";
    background-color: #503f39;
    height: 44px;
    width: 2.4px;
    top: 0;
    left: 30px;
    transform: rotate(8deg);
  }

.banner-text {
    color: white;
    font-size: 18px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
}

.introduction-text {
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin-left: 10%;
    letter-spacing: 3px;
    font-family: 'Tangerine', cursive;
}