.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7e556a;
    color: white;
    height: 50px;
    position: relative;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

a:visited {
    color: white;
}

a:hover {
    color: #8895ab;
    border-bottom: 1px solid #8895ab;
}

.fixed-nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    background-color: #7e556a;
    width: 100%;
}

.nav-link {
    padding-right: 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}

.logo {
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.fixed-nav .logo {
    max-width: 500px;
}

.nav-link-container {
    display: flex;
}

.fa-fly {
    padding-left: 10px;
    padding-right: 5px;
}