.projects-container {
    background-color: #e9e9eb; 
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.project-img {
    height: 500px;
    width: 850px;
    margin: 40px;
    border: 35px solid #3f3f40;
    border-radius: 25px;
}

.project-phone-img {
    height: 425px;
    width: 265px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    border: 18px solid #3f3f40;
    border-radius: 25px;
}

.projects-title {
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

.button-link, .disabled-button {
    letter-spacing: 1px;
    font-size: 19px;
    height: 23px;
    width: 108px;
    padding: 4px 3px;
    margin: 18px;
    text-align: center;
    cursor: pointer;
    border:0;
    border-radius: 14px;
    background: #419768;
    color:#fff;
    outline:0;
    &:hover {
        background: darken(#419768, 12%); 
    }
}

.button-link:hover {
    font-size: 19px;
    color: #cbcbcb;
}

.disabled-button {
    opacity: .7;
    background: grey;
    &:hover {
        background: grey  
    }
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-text-right {
    padding-right: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
}

.project-phone-text-right {
    padding-right: 80px;
    padding-left: 80px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
}

.project-text-left {
    padding-left: 45px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

a:active, a:hover, a, a:visited {
    text-decoration: none;
    font-size: 17px;
}